$left-width: 320px
$margin: 16px
$padding: 4px



*:focus
  outline: 1px dotted #fff

body
  background-color: #000
  color: #999
  font:
    size: 9pt
    family: arial, sans-serif

a
  color: #ccc
  font-weight: bold
  text-decoration: none
  &:hover
    color: #fff

h1
  font-size: 14pt

h2
  font-size: 12pt
  margin: 0

span.total
  color: #0f0
  font:
    size: 12pt
    weight: bold
  float: right

abbr
  border-bottom: 1px dotted #999



// Generic tables
table
  border-collapse: collapse
  margin-bottom: $margin
  width: 100%

  th, td
    padding: 2px $padding 2px 0
    &:not(:last-child)
      padding-right: 16px
    &.checkbox
      text-align: center
      padding-right: 0
      width: 1px
    &.value
      text-align: right

  th
    background-color: #333
    color: #ccc
    font-size: 10pt
    text-align: left

  tr:nth-child(2n)
    background-color: #111



// Pilots list
div#pilots
  border-right: 1px solid #999
  position: absolute
  width: $left-width
  padding-right: $margin

  input[type=submit]
    font-size: 9pt
    position: absolute
    right: $margin
    margin-top: $margin




// Operations list
div#operations
  border-left: 1px solid #999
  margin-left: $left-width + $margin
  padding-left: $margin

  img
    float: left
    margin-right: $padding
    width: 32px
    height: 32px

  a
    float: right
    display: inline-block
    padding: $padding

  div.operation
    background-color: #111
    margin: $margin 0
    padding: $padding
    span.pilots
      float: right
    span.total
      margin-top: -2px
