body, th, td, input
  font:
    size: 12pt
    family: arial, sans-serf



form
  label
    display: inline-block
    min-width: 128px
    &.required:after
      color: #f00
      content: ' *'
  input[type=checkbox]
    margin-left: 128px



table
  border-collapse: collapse
  th, td
    border: 1px solid #000
